<!DOCTYPE html>
<html lang="en">

<body>
    <form action="/user/signup" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <button class="emailCheck" type="button" id="emailCheck" onclick="fn_emailCheck();" value="N">중복확인
            </button>
            <div>
                <label for="pwd">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                <label for="birth">Birth:</label>
                <input type="text" id="birth" name="birth">
            </div>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input type="password" id="phone" name="phone">
            </div>
            <div>
                <label for="address">Address:</label>
                <input type="text" id="address" name="address">
            </div>
            <div>
                <button id="signup">Sign Up</button>
            </div>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
    <script>
        function fn_emailCheck() {
            const email = document.querySelector('[name=email]').value;

            const formData = new FormData();
            formData.append('email', email);

            axios({
                url: '/user/emailCheck',
                method: 'post',
                data: formData
            }).then((res) => {
                console.log(res.data);

                if(res.data.email != null && res.data.email != '') {
                    // 아이디 중복(생성x)
                    alert('중복된 아이디가 있습니다.');
                } else {
                    alert('생성가능');
                }
            });
        }
    </script>
</body>

</html>