<!DOCTYPE html>
<html lang="en">

<body>

   <form method='post'>
       Email : <input type='text' name='email'><br>
       Password : <input type='password' name='password'><br>
       <button class="signin" type="button" id="signin" onclick="signin_run();" value="N">로그인</button>
   </form>
   
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
   <script>
       function signin_run() {
           const formData = new FormData();
           formData.append('email', document.querySelector('[name=email]').value);
           formData.append('password', document.querySelector('[name=password]').value);
           axios({
               url: '/user/signin',
               method: 'post',
               data: formData
           }).then((res) => {
               console.log(res.data);

               if(res.data.msg !== "로그인 실패") {
                   alert('로그인 되었습니다.');
               } else {
                   alert('이메일과 비밀번호를 확인해주세요.');
               }
           });
       }
   </script>
</body>

</html>