<!DOCTYPE html>
<html lang="en">

<body>

   <form method='post'>
       Email : <input type='text' name='email'><br>
       Password : <input type='password' name='password'><br>
       <button class="Signin" type="button" id="Signin" onclick="Signin();">Signin
    </button>
       <button>Sign In</button>
   </form>
   
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
   <script>
       function Signin() {
           const formData = new FormData();
           formData.append('email', email);
           formData.append('password', password)
           axios({
               url: '/user/signin',
               method: 'post',
               data: formData
           }).then((res) => {
               console.log(res.data);
               if(res.data.code === 200) {
                   // 로그인 성공
                   alert('로그인 되었습니다.');
                   // JWT와 같은 토큰값을 저장
                   sessionStorage.setItem("token", 1234);
               } else {
                   alert('이메일과 비밀번호를 확인해주세요.');
               }
           });
       }
   </script>
</body>

</html>