<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js">
    <link href="//dapi.kakao.com/v2/maps/sdk.js?appkey=8f084827a1bc3569fc6983edf075519c&libraries=services">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8f084827a1bc3569fc6983edf075519c&libraries=services"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>

<body>
    <form action="/user/signup" method="post">
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="email">
            <button class="emailCheck" type="button" id="emailCheck" onclick="fn_emailCheck();" value="N">중복확인
            </button>
            <div>
                <label for="pwd">Password:</label>
                <input type="password" id="password" name="password" placeholder="password">
            </div>
            <div>
                <label for="birth">Birth:</label>
                <input type="date" id="birth" name="birth" placeholder="birth">
            </div>
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="name">
                </button>
            </div>
            <div>
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone"placeholder="phone">
            </div>
            <div>
            <label for="address1">Address:</label>
            <input type="text" id="sample5_address1" name="address1" autoComplete="current" placeholder="address1">
            <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
            <label for="postcode">Postcode:</label>
            <input type="text" id="sample4_postcode" name="postcode" placeholder="우편번호">
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
            </div>
            <div>
                <label for="address2">Detail:</label>
                <input type="text" id="address2" name="address2" placeholder="address2">
            </div>
            <div>
                <button class="signup" type="button" id="signup" onclick="signup_run();" value="N">회원가입</button>
            </div>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        function sample4_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample4_postcode').value = data.zonecode;
                        document.getElementById("sample4_roadAddress").value = roadAddr;
                        document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                    }
                }).open();
            }

        function sample5_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    var addr = data.address; // 최종 주소 변수

                    // 주소 정보를 해당 필드에 넣는다.
                    document.getElementById("sample5_address1").value = addr;
                    // 주소로 상세 정보를 검색
                    geocoder.addressSearch(data.address, function (results, status) {

                    });
                }
            }).open();
        }

        function fn_emailCheck() {
            const email = document.querySelector('[name=email]').value;
            const formData = new FormData();
            formData.append('email', email);

            axios({
                url: '/user/emailCheck',
                method: 'post',
                data: formData
            }).then((res) => {
                console.log(res.data);

                if (res.data.email != null && res.data.email != '') {
                    // 아이디 중복(알림)
                    alert('중복된 아이디가 있습니다.');
                } else {
                    alert('생성가능');
                }
            });
        }

        function signup_run() {
            const email = document.querySelector('[name=email]').value;
            const formData = new FormData();
            formData.append('email', email);
            formData.append('password', document.querySelector('[name=password]').value);
            formData.append('birth', document.querySelector('[name=birth]').value);
            formData.append('name', document.querySelector('[name=name]').value);
            formData.append('phone', document.querySelector('[name=phone]').value);
            formData.append('address1', document.querySelector('[name=address1]').value);
            formData.append('postcode', document.querySelector('[name=postcode]').value);
            formData.append('address2', document.querySelector('[name=address2]').value);
            axios({
                url: '/user/signup',
                method: 'post',
                data: formData
            }).then((res) => {
                console.log(res.data);

                if (res.data.code != 200) {
                    alert('회원가입 승인불가');
                } else {
                    alert('회원가입 완료');
                }
            });
        }
    </script>
</body>

</html>