--이메일 중복 체크 --
<select id="emailCheck"
parameterType="com.mygg.mygg.dto.MemberDTO"
resultType="int">
    SELECT COUNT(*)
    FROM member
    WHERE email = #{email}
</select>
<!-- 비밀번호 찾기 -->
<select id="findPassword" parameterType="String" resultType="String">
	select id from user where password = #{password}
</select>